:root{
    --text-color: #51666c;
    --white-color: #fff;
    --primary-color: #f17126;

}

*{
    box-sizing: inherit;
}
body{
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 23%;
}

.grid__col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 77%;
}
.btn{
    width: 75px;
    height: 30px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.page-content{
    padding: 12px 0 20px;
    width: auto;
}

.footer{
    background-color: #2b3494;
}